{% extends 'base.html' %}
{% load static %}

{% block content %}
	<p>This is home page</p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut, dicta dignissimos dolorem excepturi hic, illum ipsa iste iure odit quasi quis quod reiciendis rem repudiandae vitae, voluptatem? Perferendis, repudiandae.</span><span>A accusamus ad aliquam aliquid, animi architecto asperiores atque dicta dignissimos dolore doloremque, excepturi exercitationem facere facilis maxime mollitia nemo quae vel. Alias, dolore eius expedita neque nisi quia reiciendis.</span><span>Beatae delectus doloremque ex id inventore laudantium mollitia necessitatibus obcaecati officia perspiciatis quod, rerum tempora ut voluptate voluptatem! Adipisci aperiam doloremque eaque eos hic impedit liber
        o officia perspiciatis reiciendis vitae?</span></p>
{% endblock %} content %}
